# default code owners
* @giantswarm/team-honeybadger

# Specific workflow owners (if not equal to default)
/.github/workflows/fix-vulnerabilities.yaml @giantswarm/team-shield
/.github/workflows/gitleaks.yaml @giantswarm/team-shield
/.github/workflows/ossf-scorecard.yaml @giantswarm/team-shield
