name: Gitleaks

on:
  workflow_call: {}

permissions: read-all

jobs:
  gitleaks:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: '0'
      - name: gitleaks-action
        uses: giantswarm/gitleaks-action@main
