name: Gitleaks

on:
  workflow_call: {}

permissions: read-all

jobs:
  gitleaks:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: '0'
      - name: gitleaks-action
        uses: giantswarm/gitleaks-action@main
