# This workflow comments in pull requests of Go projects, informing
# about any test coverage changes.
#
# In the calling repo, make sure to run this workflow
# for all pushes to the default branch, too!
name: Go test coverage report

on:
  workflow_call:
    secrets:
      token:
        required: true

permissions: read-all

jobs:
  coverage:
    runs-on: ubuntu-latest
    permissions:
      # Needed to comment on the pull request
      pull-requests: write
      # Needed to create a comment on the commit
      contents: write
    steps:
      - name: Clone repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          # default fetch-depth is insufficent to find previous coverage notes
          fetch-depth: 10

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: '=1.25.4'

      - name: Create coverage report
        uses: gwatts/go-coverage-action@2845595538a59d63d1bf55f109c14e104c6f7cb3 # v2.0.0
        id: coverage
        env:
          GITHUB_TOKEN: "${{ secrets.token }}"
        with:
          # Optional coverage threshold
          # use fail-coverage to determine what should happen below this threshold
          #coverage-threshold: 80
          fail-coverage: 1

          # collect coverage for all packages beyond the one under test
          cover-pkg: ./...
